@media all and (max-width: 800px) {
  .show-flights-view.editing .toolbar,
  .show-flights-view.editing .flights-grid {
    display: none;
  }
}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
    
}

@media(max-width: 960px){
	.options-nav{
		display:inline;				
	}
	.options-nav-button{		
		margin-left:5px;					
	}
	.flights-search-field{
		max-width: 70%;
	}
	.toolbar {
				
		flex-direction: column-reverse;
		
	}	
}
@media(max-width: 537px){
	.flights-search-field{
		max-width: 100%;
	}
		
}

@media(max-width: 417px){
			
	.options-nav-button{
		display:flex;						
	}
	
	.toolbar{		
		align-self: center;
	}
		
}
	
/*.toolbar-vertical-layout{
	display: flex;
  	flex-direction: column;auto/
@media (max-width: 800px) {
  .toolbar-vertical-layout {
    flex-direction: column-reverse;  Invierte el orden de los elementos 
  }
}

 Cambia el diseño para pantallas más grandes (> 800px) 
@media (min-width: 801px) {
  .toolbar-vertical-layout {
    flex-direction: row;  Los elementos se colocan uno al lado del otro 
  }
  .toolbar-vertical-layout vaadin-menu-bar {
    margin-left: 16px;  Espacio entre searchField y optionsBar 
  }
}