@media(max-width: 960px){
	.options-nav{
		display:inline;				
	}
	.options-nav-button{		
		margin-left:5px;					
	}
	.flights-search-field{
		max-width: 70%;
	}
	.toolbar {				
		flex-direction: column-reverse;		
	}
	vaadin-tab::before{
		visibility: collapse;
	}
	
}

@media all and (max-width: 800px) {
  .show-flights-view.editing .toolbar,
  .show-flights-view.editing .flights-grid {
    display: none;
  }
}

@media(max-width: 537px){
	.flights-search-field{
		max-width: 100%;
	}
		
}

@media(max-width: 417px){
			
	.options-nav-button{
		display:flex;						
	}
	
	.toolbar{		
		align-self: center;	
	}
	
	.departures-title{
		align-self: center;
		visibility: collapse;
	}
	
		
}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;    
}

vaadin-context-menu-item[selected]{
	color:#cad787;
}

.flight-form{
	margin-top: 0px;
	padding-top: 0px;	
    overflow: scroll;
}	

.flight-id-textfield{
	margin-top: 0px;
	padding-top: 0px;
}

.logo{	
	height: 5rem;		
}

.logo-div{	
	height: 5rem;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	min-width: 0;
    flex-grow: 1;	
}

.logout-button{
	background-color: #cad787;
	color:#21130d;
}

.navbar{
	height:5em;
	display:flexbox;		
	background-color:#21130d;	
}

.info-tab{
	color: #cad787;		
	display:inline;
}

.about-button{
	display:inline-block;
}

vaadin-tab::before{
	color: #cad787;	
}

.toggle-mode-icon{	
	color: #cad787;	
}

.toggle-div{
	max-height: 5em;	
}